.navbar-nav{
    margin-left: 10px !important;
    margin-top: 10px !important;
    font-size: large;
}
.form{
    margin-top: 100px;
    border: 1px solid #efefef;
    padding: 50px;
    background-color: white;
}
body{
    background-color:#fbfbfb !important;
}
.form-control{
    margin-top:10px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

.login-button{
    width: 253px !important;
    margin-top: 50px;
}

.login-button:hover{
    background-color: #B2EBF2!important;
}